:root {
  --color-bg: #000000;
  --color-surface: #071327;
  --color-surface-border: #32435f;
  --color-primary: #00ff2a;
  --color-text: #f3f5f7;
  --color-muted: #7f8aa3;
  --color-accent: #6d2bbd;

  --font-main: "Consolas", "Courier New", monospace;
  --container-width: 1440px;

  --radius-sm: 0;
  --radius-md: 0;

  --transition-fast: 0.2s ease-in-out;
}
